.body {
  // background: linear-gradient(180deg, #20284Dff, #302F5Dff, #40356Cff, #513C7Cff, #61438Cff, #71499Bff, #8150ABff);
  background: linear-gradient(180deg, #20284Dff, #302F5Dff, #40356Cff, #513C7Cff, #61438Cff, #71499Bff, #61438c);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}