html, body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1; // take remaining height
}

.footer {
  // background-color: #1b1f3b;
  padding: 4px 0;
  text-align: center;
  color: #ffffff;
  font-size: 10px;

  .footer-content {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
  }

  a.linkedin-link {
    color: #bc9fe2;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: #ffffff;
    }
  }
}
