<div class="landing-page">
  <div class="card">
    <div class="image-section">
      <img
        src="https://res.cloudinary.com/dqgdpbbtv/image/upload/v1746171737/nepal%20weather%20app/vlhjxpnvincmgxsdt1pr.png"
        alt="Weather Image"
        class="weather-image"
      />
    </div>
  </div>
  <div class="text-section">
    <div class="text">
      <span class="white-text">Nepal Precipitation</span>
      <span class="yellow-text"> Forecasts</span>
    </div>

    <div class="info-section">
      <!-- date picker -->
      <mat-form-field appearance="outline" class="custom-field">
        <mat-label>Pick a date</mat-label>
        <input 
          matInput
          [(ngModel)]="selectedDate" 
          [matDatepicker]="picker" 
          placeholder="Choose a date" 
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
          class="custom-datepicker-toggle"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field appearance="outline" class="custom-field"
      >
        <mat-label>District</mat-label>
        <mat-select [(ngModel)]="selectedDistrict" name="selectedDistrict">
          <mat-option *ngFor="let district of districts" [value]="district.name">
            {{ district.name }}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div> 

    <button class="get-start-btn" (click) = "getWeatherData()"> Search </button>
  </div>
</div>