<div class="landing-page">
  <div class="card">
    <div class="image-section">
      <img
        src="../../assets/images/Light Rain.png"
        alt="Weather Image"
        class="weather-image"
      />
    </div>
  </div>
  <div class="text-section">
    <div class="text">
      <span class="white-text">Nepal Weather</span>
      <span class="yellow-text"> Forecasts</span>
    </div>

    <div class="info-section">
      <!-- date picker -->
      <mat-form-field appearance="outline" class="custom-field">
        <mat-label>Pick a date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
          class="custom-datepicker-toggle"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field appearance="outline" class="custom-field"
      >
        <mat-label>District</mat-label>
        <mat-select>
          <mat-option value="kathmandu">Kathmandu</mat-option>
          <mat-option value="bhaktapur">Bhaktapur</mat-option>
          <mat-option value="lalitpur">Lalitpur</mat-option>
          <mat-option value="pokhara">Pokhara</mat-option>
          <mat-option value="biratnagar">Biratnagar</mat-option>
        </mat-select>
      </mat-form-field>
    </div> 

    <button class="get-start-btn">Get Started</button>
  </div>
</div>