@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import '@angular/material/theming';

@include mat-core();

$my-primary: mat-palette($mat-deep-purple, 300);
$my-accent: mat-palette($mat-light-green, A200);
$my-warn: mat-palette($mat-red);

$my-dark-theme: mat-dark-theme($my-primary, $my-accent, $my-warn);
@include angular-material-theme($my-dark-theme);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #20284Dff, #302F5Dff, #40356Cff, #513C7Cff, #61438Cff, #71499Bff, #61438c);
  font-family: 'Nunito', sans-serif !important;
}
